{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-debugger": [
      "warn"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": "off",
    "react/prop-types": "off",
    "react/forbid-prop-types": "off",
    "import/extensions": "off"
  }
}
